@{
    ViewData["Title"] = "AI Wardrobe Admin Page";
}

<div class="text-center">
    <h1 class="display-4">Admin</h1>

    <p>
        <a asp-action="CreateProduct"><button type="button" class="btn btn-primary">Add New Product</button></a>
    </p>
    <p>
        <a asp-action="ProductList"><button type="button" class="btn btn-primary">Product List</button></a>
    </p>
</div>