@model AI_Wardrobe.ViewModels.ProductVM

@{
    ViewData["Title"] = "ManageProduct";
}

<h1>ManageProduct</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <h4>Product Image</h4>
        <img class="img-fluid" id="img-image" src=@Model.ImageUrl />
        <div>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#imageBrowserModal">Browse</button>
            <button class="btn btn-primary">Upload</button>
        </div>
    </div>

    <div class="col-md-4">
        <form asp-action="ManageProduct">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" id="input-image" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenderId"></label>
                <select asp-for="GenderId" asp-items="Model.GenderOptions"
                        class="form-control" default="Model.GenderId"></select>
                <span asp-validation-for="GenderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SizeId"></label>
                <select asp-for="SizeId" asp-items="Model.SizeOptions"
                        class="form-control" default="Model.SizeId"></select>
                <span asp-validation-for="SizeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeId"></label>
                <select asp-for="TypeId" asp-items="Model.TypeOptions"
                        class="form-control" default="Model.TypeId"></select>
                <span asp-validation-for="TypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ProductList">Back to List</a>
</div>

@Html.Partial("_ImageBrowser", new string[] { "input-image", "img-image" })

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
