@model string[];

@using Microsoft.AspNetCore.Hosting
@inject IWebHostEnvironment Environment


<div class="modal fade" id="imageBrowserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Select an image</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row row-cols-2 row-cols-md-4 row-cols-lg-5 g-4" id="imageList">
                    <!-- Image list will be loaded dynamically here -->
                </div>
            </div>
            <div class="modal-footer">
                <button id="btn-select" type="button" class="btn btn-primary" data-bs-dismiss="modal">Select Image</button>
            </div>
        </div>
    </div>
</div>

<style>
    .selected-image {
        border: solid 5px blue;
        background-color:
    }
</style>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
<script>
    let selectedFilename = "";

    $(document).ready(function(){

        $("#btn-select").on("click", function () {
            let docIds = @Html.Raw("[" + string.Join(",", Model.Select(id => $"'{id}'")) + "]");
            docIds.forEach(function (docId) {
                let element = $("#" + docId);

                if (element.is("input[type='text']")) {
                    element.val(selectedFilename); // Set value for input fields
                } else if (element.is("img")) {
                    element.attr("src", selectedFilename); // Set src for images
                }
            });
        });

        $('#imageBrowserModal').on('shown.bs.modal', function () {
            // Make an AJAX request to get the file list
            $.ajax({
                url: '@Url.Action("GetFiles", "Admin")', // The controller action
                type: 'GET',
                success: function (response) {
                    // Update the modal content with the new image list
                    $('#imageList').html(response);

                    $(".image-option").on("click", function(){
                        $(".image-option").removeClass("selected-image");
                        $(this).addClass("selected-image");

                        selectedFilename = $(this).data("filename");
                    });
                },
                error: function () {
                    alert('Error loading image list.');
                }
            });
        });

    });
</script>