<p>
    <a class="navbar-brand" asp-area="" asp-controller="Shop" asp-action="About">About</a>
</p>
<p>
    <a class="navbar-brand" asp-area="" asp-controller="Shop" asp-action="Cart">Cart</a>
</p>
<p>
    <a class="navbar-brand" asp-area="" asp-controller="Shop" asp-action="ProductDetail">Product Detail</a>
</p>
<p>
    <a class="navbar-brand" asp-area="" asp-controller="Shop" asp-action="ProductList">Product List</a>
</p>
<p>
    <a class="navbar-brand" asp-area="" asp-controller="Order" asp-action="Checkout">Checkout</a>
</p>
<p>
    <a class="navbar-brand" asp-area="" asp-controller="Order" asp-action="Confirmation">Confirmation</a>
</p>
<p>
    <a class="navbar-brand" asp-area="" asp-controller="Order" asp-action="OrderHistory">Order History</a>
</p>
<p>
    <a class="navbar-brand" asp-area="" asp-controller="User" asp-action="MyProfile">My Profile</a>
</p>
<p>
    <a class="navbar-brand" asp-area="" asp-controller="Admin" asp-action="Index">Admin</a>
</p>