<p>
    <a class="navbar-brand" asp-area="" asp-controller="Shop" asp-action="About">About Us / Mission</a>
</p>
<p>
    <a class="navbar-brand" asp-area="" asp-controller="Shop" asp-action="Cart">Cart</a>
</p>
<p>
    <a class="navbar-brand" asp-area="" asp-controller="Shop" asp-action="ProductDetail">Product Detail</a>
</p>
<p>
    <a class="navbar-brand" asp-area="" asp-controller="Shop" asp-action="ProductList">Product List</a>
</p>
<p>
    <a class="navbar-brand" asp-area="" asp-controller="Order" asp-action="Checkout">Checkout and Pay</a>
</p>
<p>
    <a class="navbar-brand" asp-area="" asp-controller="Order" asp-action="Confirmation">Transaction Confirmation</a>
</p>
<p>
    <a class="navbar-brand" asp-area="" asp-controller="Order" asp-action="OrderHistory">Orders and History</a>
</p>
<p>
    <a class="navbar-brand" asp-area="" asp-controller="User" asp-action="MyProfile">My Profile</a>
</p>
<p>
    <a class="navbar-brand" asp-area="" asp-controller="Admin" asp-action="Index">Admin Msin Psge</a>
</p>
<p>
    <a class="navbar-brand" asp-area="" asp-controller="Admin" asp-action="ViewUpdateOrder">View / Update Order</a>
</p>