.main-banner {
    background-image: url('/images/products/-16.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* height: 1000px; */
    display: flex;
    align-items: top;
    justify-content: center;
    text-align: center;
    color: white;
    width: 100vw;
}



.banner-text h2 {
    color: white;
  text-shadow: 
      -1px -1px 0 #000,  
       1px -1px 0 #000,
      -1px  1px 0 #000,
       1px  1px 0 #000,
      2px  2px 5px rgba(0, 0, 0, 0.5);
      text-align: center;
      margin-top: 220px;
  font-size: 3rem;
  margin-bottom: 8px;
  }

  .banner-text p {
    color: white;
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000,
        2px  2px 5px rgba(0, 0, 0, 0.5);
        text-align: center;
    font-size: 3rem;
    margin-bottom: 20px;
  }
